<div class="row">
    <div class="col-sm-12">
        <h1>
            Polly Samples
        </h1>
        <a href="https://github.com/App-vNext/Polly" target="_blank"><img src="https://raw.github.com/App-vNext/Polly/master/Polly.png" alt="Polly" /></a>
    </div>
</div>

<div class="row">
    <p>&nbsp;</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <div>
            <p>
                This site provides sample web APIs called by the <a href="https://github.com/App-vNext/Polly-Samples" target="_blank">Polly-Samples</a> project.
            </p>
            <p>
                <strong>@Html.ActionLink("View the API", "Index", "Help", new { area = "" }, null)</strong>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <p>&nbsp;</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="alert alert-info" role="alert">
            <p><strong>Please note:</strong></p>
            <p>
                All API requests are throttled to limit a small number of requests within predetermined segments of time (such as 3 requests every 5 seconds) per client (tracked by IP address).
            </p>
            <p>
                This limitation has been placed in order to simulate failed requests for exception handling policies provided by the <a href="https://github.com/App-vNext/Polly" target="_blank">Polly</a> framework for our sample projects.
            </p>
        </div>
    </div>
</div>